@import "~foundation-sites/scss/util/unit";
@import "~foundation-sites/scss/util/mixins";

.page-header {
  height: rem-calc(320);

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  color: var(--title-page-color);

  background: linear-gradient(
      0deg,
      var(--background-top-overlay-color),
      var(--background-top-overlay-color)
    ),
    url("../assets/background-top.png") no-repeat center;

  .page-header__title,
  .page-header__description {
    font-weight: 400;
  }

  .page-header__description {
    // Fallback if browser doesn't support clamp
    font-size: calc(1vw + 0.6rem);
    font-size: clamp(1.3rem, 1.2vw, 2rem);

    position: relative;
    top: rem-calc(50);
  }

  .page-header__title {
    // Fallback if browser doesn't support clamp
    font-size: calc(1vw + 1.2rem);
    font-size: clamp(2rem, 2.3vw, 4rem);

    font-family: "Roboto Slab", serif;
  }
}

.main {
  @include horizontal-center;

  margin: 0 10px;
}

.card {
  width: 870px;

  background-color: var(--background-card-color);

  padding: 20px;
  margin-top: 20px;

  box-shadow: var(--box-shadow);

  border-radius: 3px;
  .time-limit {
    display: block;
    margin-top: 20px;

    font-size: 11px;
    color: #8d8d8d;
    font-weight: 400;
  }
}

.filters {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 20px;
  padding: 20px;
}

.no-padding {
  padding: 0;
}
