<header class="page-header">
  <h1 class="page-header__title">Lista de Fundos de Investimento</h1>
  <p class="page-header__description">Conheça a nossa lista de fundos</p>
</header>
<main class="main">
  <section class="card">
    <app-search></app-search>
    <section class="filters">
      <app-slider
        (valueChange)="getValueSlider($event)"
        label="Aplicação miníma"
        [min]="minimumApplicationValue.min"
        [max]="minimumApplicationValue.max"
        value="R$500.000,00"
      ></app-slider>
      <app-risk-profile
        (valueChange)="getValueSlider($event)"
      ></app-risk-profile>
      <app-slider
        (valueChange)="getValueSlider($event)"
        label="Prazo de resgate"
        [min]="retrievalDaysValue.min"
        [max]="retrievalDaysValue.max"
        value="270 dias úteis"
      ></app-slider>
    </section>
    <strong class="time-limit"> Horário limite de aplicação: 12:00 </strong>
  </section>
</main>
